<!DOCTYPE html>
<html>
  <head>
    <title>EJS Alf</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%include header%>
    <style type="text/css">
        .swal2-popup {
          font-size: 1.6rem !important;
        }
    </style>
  </head>
  <body>
    <div class="container">
    	<div class="panel panel-info">
    		<div class="panel-heading">
    			<div>
    				<b class="pull-left">Data</b>
                    <div class="pull-right">
                    <a href="/upload" style="margin-right: 10px;" class="btn btn-info"><i class="fa fa-upload"></i>&nbsp;Upload Gambar</a>

                    <a id="exportPDF" href="javascript:void(0)" style="margin-right: 10px;" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i>&nbsp;PDF</a>

                    <button class="btn btn-success" data-toggle="modal" data-target="#tambahData" ><i class="fa fa-plus-circle"></i>&nbsp;Tambah</button>
                    </div>
    				<div class="clearfix"></div>
    			</div>
    		</div>
    		<div class="panel-body">
    			<div class="table-responsive">
    				<table class="table table-bordered table-striped table-hovered">
    					<thead>
    						<tr>
    							<th>Nomor</th>
    							<th>Nomor Induk</th>
    							<th>Nama</th>
    							<th>Alamat</th>
    							<th>Hobi</th>
    							<th>Action</th>
    						</tr>
    					</thead>
    					<tbody>
    						<% var nomor =0; for(var i = 0; i < data.length; i++) { nomor++; %>
    						<tr>
    							<td><%= nomor %></td>
    							<td><%= data[i].noinduk %></td>
    							<td><%= data[i].nama %></td>
    							<td><%= data[i].alamat %></td>
    							<td><%= data[i].hobi %></td>
    							<td class="text-center">
    							<span>
    								<a hreh="javascript:void(0)" data-toggle="modal" data-target="#updateData<%=data[i].noinduk%>" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;Edit</a>
    								<a href="/form/deleteData?noinduk=<%= data[i].noinduk %>" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
    							</span>
    							</td>
    						</tr>    						
						<!-- Modal -->
						<div id="updateData<%=data[i].noinduk%>" class="modal fade" role="dialog">
						  <div class="modal-dialog">
    						<!-- Modal Update-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Update Data</h4>
						      </div>
						      <div class="modal-body">
						        <form method="post" action="/form/updateData">
						        	<div class="row">
						        		<div class="form-group col-md-12">
						        			<label>Nomor Induk</label>
						        			<input readonly type="text" name="noinduk" class="form-control" value="<%= data[i].noinduk %>"></input>
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="form-group col-md-12">
						        			<label>Nama</label>
						        			<input type="text" name="nama" class="form-control" value="<%= data[i].nama %>"></input>
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="form-group col-md-12">
						        			<label>Alamat</label>
						        			<input type="text" name="alamat" class="form-control" value="<%= data[i].alamat %>"></input>
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="form-group col-md-12">
						        			<label>Hobi</label>
						        			<input type="text" name="hobi" class="form-control" value="<%= data[i].hobi %>"></input>
						        		</div>
						        	</div>
						        	<div class="row">
						        		<div class="form-group col-md-12">
						        			<button class="btn btn-success btn-block">
						        				Submit
						        			</button>
						        		</div>
						        	</div>
						        </form>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
						      </div>
						    </div>

						  </div>
						</div>

    						<% } %>
    					</tbody>
    				</table>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
<!-- Modal -->
<div id="tambahData" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal Tambah-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tambah Data</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/form/tambahData">
        	<div class="row">
        		<div class="form-group col-md-12">
        			<label>Nomor Induk</label>
        			<input type="text" name="noinduk" class="form-control"></input>
        		</div>
        	</div>
        	<div class="row">
        		<div class="form-group col-md-12">
        			<label>Nama</label>
        			<input type="text" name="nama" class="form-control"></input>
        		</div>
        	</div>
        	<div class="row">
        		<div class="form-group col-md-12">
        			<label>Alamat</label>
        			<input type="text" name="alamat" class="form-control"></input>
        		</div>
        	</div>
        	<div class="row">
        		<div class="form-group col-md-12">
        			<label>Hobi</label>
        			<input type="text" name="hobi" class="form-control"></input>
        		</div>
        	</div>
        	<div class="row">
        		<div class="form-group col-md-12">
        			<button class="btn btn-success btn-block">
        				Submit
        			</button>
        		</div>
        	</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
      </div>
    </div>

  </div>
</div>

</html>
<script type="text/javascript">
    $(document).ready(function(){
        $("a#exportPDF").on('click',() =>{
            let seturl = window.location.href + "form/export";

        fetch(seturl)
            .then((response) => {
                return response.json();
            })
            .then((res) => {
                console.log(res)
                if(res.status){
                    Swal.fire({
                        'icon': 'success',
                        'title': 'Success',
                        'text': 'PDF File Downloaded',
                        'showCancelButton': true,
                        confirmButtonText: 'Open',
                        cancelButtonText: 'Close'
                    }
                    ).then((result) => {
                        if(result.value){
                            window.open("http://localhost:3000/tes.pdf");
                        }
                    })
                }
            })
        })
    })
</script>